.avatar-box {
    height: 96px;
    justify-content: center;
    display: flex;
    align-items: center;

    .avatar {
        width: 48px;
        height: 48px;
        font-size: 24px;
        line-height: 48px;
        border-radius: 50%;
    }
}