#mynav {
    width: 64px;
    background-color: #0091ff;
    padding: 0;
    .mynav{
        overflow: hidden;

        .navlink {
            height: 60px;
            font-size: 24px;
            display: block;
            width: 100%;
            color: white;
            background-color: inherit;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
    
            /* Change background color of buttons on hover */
            &:hover {
                background-color: #ddd;
            }
    
            /* Create an active/current tablink class */
            &.active {
                background-color: #006edc;
            }
        }
    }
}