.message-box-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #c9cdd1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
}

.message-box-info {
  color: #828385;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}