.delete-icon {
    font-size: 22px;
    color: #bb1515 !important;
    cursor: pointer;
}

.mh100 {
    max-height: 100vh;
}

.mw-70 {
    .mw-50 {
        // max-width: 70%;
    }
}

.reload-icon {
    font-size: 20px;
    cursor: pointer;
}

.list-messages {
    overflow-y: scroll;
}