#mynav-content {
    width: 336px;
    border-right: 1px solid #e1e4ea;
}

@media only screen and (min-width: 769px) {
    #mynav-content {
        width: 336px;
    }
}

.nav-item__content{
    box-sizing: border-box;
    border-top: none;
}