.message-box-content {
    display: flex;
    overflow-x: hidden;
    padding-top: 1rem;
    overflow-y: scroll;
    flex-direction: column-reverse;
    width: 100%;
    background: #b1d9e6;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}