/* Carousel */
.carousel-indicators {
    button {
        background: #eeeff2;
        display: inline-block;
        height: 8px !important;
        width: 8px !important;
        margin-right: 7px;
        border: none !important;
        margin-left: 7px;
        border-radius: 50%;

        &.active {
            background: #0068ff !important;
        }
    }
}