h6 {
    border-bottom: 1px solid #e1e4ea;
    padding-bottom: 6px;
}

ul.chatbot-list {
    padding: 0px;

    li {
        &.chatbot {
            cursor: pointer;

            &.active {
                background: #e5efff;
            }
        }

        .chatbot-name {
            font-size: 16px;
            color: black;
        }

        .last-message {
            font-size: 14px;
            color: #72808e;
        }
    }
}

#chatBotSearch{
    background-color: #0091ff;
    margin: 0px;
    height: 50px;
    
}
